<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>배닯의 민족 딜리버리</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <section style="background-color: #eee">
      <div class="container py-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-4">
            <div class="card" id="chat1" style="border-radius: 15px">
              <div
                class="card-header d-flex justify-content-between align-items-center p-3 text-white border-bottom-0"
                style="
                  background-color: rgb(94, 206, 202);
                  border-top-left-radius: 15px;
                  border-top-right-radius: 15px;
                "
              >
                <i class="fas fa-angle-left"></i>
                <p class="mb-0 fw-bold">Live chat</p>
                <i class="fas fa-times"></i>
              </div>
              <div class="card-body" id="card-body">
                <div class="d-flex flex-row justify-content-start mb-4">
                  <img
                    src="https://w.namu.la/s/5de60b620a32990594a5c26f082f1099bb18d1129c4b516b15db13e2b09e24192c9adb6a200b48d5459637ed7665d12c7e4f8a9f6a13becdfe9b895ed9afa38e32479226e7fcb17db019d8213f192070"
                    alt="avatar 1"
                    style="width: 45px; height: 100%"
                  />
                  <div
                    class="p-3 ms-3"
                    style="
                      border-radius: 15px;
                      background-color: rgba(57, 192, 237, 0.2);
                    "
                  >
                    <p class="small mb-0">
                      배달의 민족 채팅 주문에 방문해 주셔서 감사합니다. 원하는
                      주문을 말씀해주세요.
                    </p>
                  </div>
                </div>
              </div>
              <form id="message_input_form">
                <div class="form-outline">
                  <textarea
                    class="form-control"
                    id="message_input"
                    rows="4"
                  ></textarea>
                  <label
                    class="form-label"
                    for="message_input"
                    style="margin: 12px"
                    >주문을 입력하세요.</label
                  >
                  <button
                    type="submit"
                    class="btn btn-primary btn-sm"
                    style="
                      background-color: rgb(94, 206, 202);
                      border-color: rgb(94, 206, 202);
                      float: right;
                      margin: 12px;
                    "
                  >
                    보내기
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"
  ></script>

  <script type="text/javascript" charset="utf-8">
    // const socket = io();
    const socket = io.connect("http://127.0.0.1:8000");
    socket.on("connect", function () {
      let message_input = document.getElementById("message_input");
      document.getElementById("message_input_form").onsubmit = function (e) {
        e.preventDefault();
        let message = message_input.value.trim();
        if (message.length) {
          socket.emit("send_message", { message: message });
        }
        message_input.value = "";
        message_input.focus();
      };
    });

    socket.on("server_message", function (data) {
      const newNode = document.createElement("div");
      newNode.innerHTML = `<div class="d-flex flex-row justify-content-start mb-4">
                  <img
                    src="https://w.namu.la/s/5de60b620a32990594a5c26f082f1099bb18d1129c4b516b15db13e2b09e24192c9adb6a200b48d5459637ed7665d12c7e4f8a9f6a13becdfe9b895ed9afa38e32479226e7fcb17db019d8213f192070"
                    alt="avatar 1"
                    style="width: 45px; height: 100%"
                  />
                  <div
                    class="p-3 ms-3"
                    style="
                      border-radius: 15px;
                      background-color: rgba(57, 192, 237, 0.2);
                    "
                  >
                    <p class="small mb-0">
                      ${data.message}
                    </p>
                  </div>
                </div>`;
      document.getElementById("card-body").appendChild(newNode);
    });

    socket.on("client_message", function (data) {
      console.log("Client Message");
      const newNode = document.createElement("div");
      newNode.innerHTML = `<div class="d-flex flex-row justify-content-end mb-4">
                  <div
                    class="p-3 me-3 border"
                    style="border-radius: 15px; background-color: #fbfbfb"
                  >
                    <p class="small mb-0">
                      ${data.message}
                    </p>
                  </div>
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                    alt="avatar 1"
                    style="width: 45px; height: 100%"
                  />
                </div>`;
      document.getElementById("card-body").appendChild(newNode);
    });
  </script>
</html>
